<%- include('partials/Header'); -%>

<h1>Contact</h1>

<p>If you want to get in touch, I am very interested in working under a senior
    web-developer, so please dont hesitate if yod think I would be a good fit.
</p>

<h4>E-mail</h4>
<p>Justinvg29@gmail.com</p>

<h4>LinkedIn</h4>
<p>linkedin.com/in/justin-van-gent-38a84b147</p>

<!-- <h4>GitHub</h4>
<p></p> -->

<%- include('partials/Footer'); -%>