<%- include('partials/Header'); -%>


    <h1>Projects</h1>

    <p>I have been working on a number of small projects. These have all taught me alot. They are still slightly rough
        around the edges but this space will grow and evolve as I do in my journy. 
    </p>

    <img class="comingSoon" src="Images/Coming-soon.png">
    

<%- include('partials/Footer'); -%>
