<%- include('partials/Header'); -%>


    <h1>Projects</h1>

    <p>I have been working on a number of small projects. These have all taught me alot. They are still slightly rough
        around the edges but this space will grow and evolve as I do in my journy. 
    </p>

    <img class="comingSoon" src="Images/Coming-soon.png">


    <p>In the meantime, I do have a github account. Please feel free to take a look around.
        Just one thing, remember what I said above, this goes for my github as well.
    </p>

    <a href="https://github.com/Justin-Van-Gent">This will take you to my github profile</a>

<%- include('partials/Footer'); -%>
